.APP {
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
}

.fetch-btn {
  height: 6vh;
  display: flex;
  justify-content: left;
  border-radius: 8px;
}

